*, :before, ::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body{
    font-family: "Geist", Arial, sans-serif;
}

.nav{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100px;
    justify-content: space-between;
    background-color: hsl(198, 16%, 21%);
    position: fixed;
    transition: 0.3s;
}

.nav ul{
    margin-top: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 0.6rem;
    overflow: hidden;
}

.nav > ul > li{
    color: hsl(0, 0%, 100%);
    text-align: center;
    list-style: none;
    display: flex;
    flex-direction: column;
}

.nav > ul > li > a > p{
    font-size: 0.6rem;
}

i{
    font-size: 2rem;
}

a, a:visited, a:hover, a:active {
    color: inherit;
    text-decoration: none;
}

a:hover{
    background-color: hsla(0, 0%, 100%, 0.2)
}

.dashboard{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 1rem;
    padding: 0 2rem 2rem 1.5rem;
    transition: 300ms;
    margin-left: 100px;
}

.header{
    display: flex;
    gap: 1rem;
    align-items: center;
    padding-top: 1rem;
    color: hsl(198, 16%, 21%);
}

.header > h1{
    font-weight: 500;
}

.notifs_section{
    background-color: hsl(0, 0%, 100%);
    border-radius: 3px;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    padding: 0.5rem;
    min-width: 500px;
    width: 100%;
    box-shadow: hsla(0, 0%, 0%, 0.12) 0px 1px 3px, hsla(0, 0%, 0%, 0.24) 0px 1px 2px;
    overflow: hidden;
}

.notifs{
    background-color: hsl(36, 100%, 90%);
    width: 10vw;
    height: 20vh;
    padding: 0.3rem;
}

.notifs > i{
    color: hsla(41, 88%, 75%, 0.938);
}

.history{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    justify-content: center;
}

.history > h2{
    font-weight: 400;
    color: hsl(198, 16%, 21%);
}

table{
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    border-radius: 8px;
    min-width: 500px;
}

table, td, tr, th{
    padding: 0.4rem;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
}

th{
    font-size: 1.1rem;
    color: hsl(0, 0%, 100%);
    background-color: hsl(198, 16%, 21%);
    font-weight: 600;
    text-align: left;
}

td{
    font-size: 0.8rem;
    color: hsl(0, 0%, 100%);
    background-color: hsl(0, 0%, 31%);
}

input[type='checkbox']{
    height: 1.3rem;
    width: 1.3rem;
    appearance: none;
    -webkit-appearance: none;
    background-color: hsl(204, 15%, 94%);
    border-radius: 5px;
}

input[type='checkbox']:after{
    font-family: "bootstrap-icons";
    font-weight: 900;
    font-size: 1.25rem;
    color: hsl(0, 0%, 100%);
    content: "\F633";
    display: none;
}

input[type='checkbox']:checked{
    background-color: hsla(123, 26%, 74%, 0.893);
}

input[type='checkbox']:checked:after{
    display: block;
}

input[type='checkbox']:hover{
    background-color: hsl(124, 29%, 78%);
}

.fail{
    background-color: hsl(0, 100%, 50%);
}

.success{
    background-color: hsl(120, 100%, 25%);
}

.footer{
    font-size: 0.8rem;
    position: fixed;
    bottom: 0;
    right: 8px;
}

.custom-shape-divider-top-1732729701 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
    z-index: -1;
}

.custom-shape-divider-top-1732729701 svg {
    position: relative;
    display: block;
    width: calc(232% + 1.3px);
    height: 353px;
    transform: rotateY(180deg);
}

.custom-shape-divider-top-1732729701 .shape-fill {
    fill: hsl(124, 29%, 78%);
}